/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.action-bar { 
    background-color: #363739;
    color: white;
}
.banner { 
    background-color: white;
}
.rounded { 
    border-radius: 15; 
    padding-top: 10;
    padding-left: 10;
    padding-right: 10;
}

.padding10bot {
    margin-bottom: 10;
}
.marginStack {
    margin-bottom: 10;
    margin-left: 10;
    margin-right: 10;
}
.priceBar { 
    padding-top: 7;
    padding-bottom: 7; 
}
.leftLabel { 
    text-align: left;
    padding-left: 5; 
}
.centerLabel { 
    text-align: center;
    padding-left: 5;
}
.rightLabel {
    text-align: right;
    padding-right: 5;
}
.blueC { color: #06d1e4 }
.mainScreen { background-color: #fff; }
.boxes { 
    text-align: center;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    border-bottom-width: 1;
    border-right-width: 1;
}